@tailwind base;
@tailwind components;
@tailwind utilities;



.bg-main {
  background-color: #1310A5;
}
.bg-light {
  background-color:  #ECECFF ;
}
.bg-light-secondary {
  background-color: #FFE4E6;
}

.border-light {
  border: 1px solid #CCCCFF;
}
.border-light-secondary {

  border: 1px solid #FECDD3;
}


/* Custom CSS for modal transitions */
@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

.modal-enter {
  animation: slideIn 0.5s ease-out forwards;
}

.modal-exit {
  animation: slideOut 0.5s ease-in forwards;
}

.modal-overlay-enter {
  opacity: 0;
}

.modal-overlay-exit {
  opacity: 1;
}

